* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'PingFang SC','Helvetica Neue', Helvetica,  'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
a {
  color: #555;
}
